---
layout: default
---
<h1>{{ page.title }}</h1>
by <span class="author">{{ page.author }}</span> <span class="date">({{ page.date | date: '%Y년 %m월 %d일' }})</span>
<div class="content">
{{ page.content }}
</div>

{% if site.facebook.appid %}
{% include fb-like-button.html %}
{% endif %}

{% assign filtered_books = site.books | where: 'name', page.book %}
{% if filtered_books.size > 0 %}
<h2>관련 도서</h2>
<ul>
{% for post in filtered_books %}
  <li><a href="{{ post.url | relative_url }}">{{ post.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if site.facebook.comments_count %}
<h2>댓글</h2>
{% include fb-comments.html %}
{% endif %}

<div id="pagination">
  {% if page.previous.url %}
  <a class="prev" href="{{page.previous.url | relative_url}}">&#10096; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
  <a class="next" href="{{page.next.url | relative_url}}">{{page.next.title}} &#10097;</a>
  {% endif %}
</div>